---
---

<header
  class="w-full bg-cover bg-center border-[#FF5C57] border-b-2"
  style="height:20rem; background-image: url(banner.png)"
>
  <div
    class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50"
  >
    <img src="logo.png" class="w-[65px] absolute top-4 left-4" />
    <div class="text-center"></div>
  </div>
</header>

<div class="mt-4 w-full">
  <h4 class="text-center mb-2 text-2xl">
    Listen or watch on your favourite app
  </h4>
  <div class="flex justify-center">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/deepdrinks"
      class="mr-2"
    >
      <img class="w-[40px] h-[40px]" src="yt-icon.png" /></a
    >
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://open.spotify.com/show/4TjeHzFi4JqcHZ06zx4aHK"
      class="mr-2"
    >
      <img class="w-[40px] h-[40px]" src="spotify-icon.png" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://podcasts.apple.com/us/podcast/deep-drinks/id1633403813"
      class="mr-2"
    >
      <img class="w-[40px] h-[40px]" src="ios-podcast-icon.png" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://twitter.com/DeepDrinksPod"
    >
      <img class="w-[40px] h-[40px]" src="twitter.png" />
    </a>
  </div>
</div>
